<meta property="og:type"               content="article" />
<meta property="og:title"              content="GA COVID-19 Daily Report" />
<meta property="og:description"        content="Your Daily Update on the spread of COVID-19 in Georgia" />
<meta property="og:image"              content="https://asb12f.bitbucket.io/COVID19/virusimage.jpg" />